/*header*/

.header{
    display: flex;
    align-items: center;
    justify-content:center;
}

.header__link{
    padding: 10px;
}

/*section Sobre mim*/

.resumo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 200px 170px;
}

.resumo__foto{
    height: 300px;
    width: 300px;
}

/* section Skills*/

.skills{
    padding: 10px 100px; 
}

.skilld__cards__js, 
.skilld__cards__css{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skilld__cards__html,
.skilld__cards__vscode{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.skills__cards__imagens{
    height: 80px;
    width: 80px;
    padding: 20px; 
}

/* section minhas Paixões*/

.minhasPaixoes{
    padding: 100px 100px;
}

.minhasPaixoes__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.minhasPaixoes__cards__cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
    border: 3px solid #e53939;
    border-radius: 15px;
    box-shadow: 10px 10px #d03030 ;
}

.minhasPaixoes__cards__imagem{
    height: 70px;
    width: 70px;
}
